.menu {
  padding: 10px 15px;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
button {
  font-weight: bold;
}
.shift {
  font-weight: normal;
}
.shift.btn-secondary {
  font-weight: bold;
}
