.concept {
  width: 800px;
  text-align: center;
}

.incorrect {
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
  text-decoration: line-through;
}
.correct {
  background-color: rgba(0, 255, 0, 0.2);
  color: green;
}
.victory-text {
  font-weight: bold;
}
